h1 {
  color: violet;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: center;
}

body {
  background-color: purple;
  color: black;
  font-family: 'Saira Extra Condensed', sans-serif;
}

a:visited {
  color: violet;
}
td{
  width:400px;
  height:200px;
}
